---
import { getCollection } from 'astro:content'

const jobs = await getCollection('jobs')
console.log('jobs', jobs)
---

<div>
  Look at our jobs:
  {jobs.map((job) => job.data.title).join(', ')}
</div>
